html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 9%;
}

.modal-header {
    text-align: center !important;
    margin-left: 20%;
}

.modal-content {
    padding: 10px;
    width: 88% !important;
}

.header {
    z-index: 2 !important;
}

.hide {
    display: none !important;
}

.fWid {
    width: 100px;
}

.tools {
    position: absolute;
    background-color: white;
    z-index: 3 !important;
    top: 20%;
    left: 95%;
    border-radius: 4px;
    opacity: 0.8;
}

.list-group-item {
    font-size: 20px;
    color: #000 !important;
    padding: 0.75rem 0.75rem !important;
}

.sep {
    padding: 1px;
    background-color: grey;
    width: 100%;
}

.nav-link {
    color: #000 !important;
}

.nav-item {
    margin: 5px;
}

.nav-item :hover {
    color: #ff6f69 !important;
}

.list-group-item :hover {
    color: #ff6f69 !important;
}

.ol-zoom {
    top: 2% !important;
    left: 95% !important;
    opacity: 0.8 !important;
}

.ol-control button {
    background-color: white !important;
    color: #000 !important;
    width: 45px !important;
}

#layers {
    position: absolute;
    width: 180px;
    background: white;
    border-right: 1px solid black;
    top: 9%;
    height: 92%;
    z-index: 3;
    padding: 5px;
    opacity: 0.8;
}

#layers:hover {
    opacity: 1;
}

.icon {
    opacity: 0.8;
}

.icon:hover {
    opacity: 1;
    transform: scale(1.1);
}

.tooltipp {
    position: relative !important;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    color: white;
    padding: 2px 6px;
    opacity: 0.8 !important;
    white-space: nowrap;
    z-index: 7 !important;
}

.tooltip-measure {
    opacity: 1;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
}

.tooltip-measure:before, .tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}
